<header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
<a href="{{ path('app_home') }}" class="navbar-brand">
            <img src="{{ asset('pictures/logo2.png') }}" alt="O'Dodo Literie" height="100"> 
        </a>            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Accueil</a></li>
                    <li class="nav-item"><a href="{{path('app_produits') }}" class="nav-link">Produits</a></li>
                    <li class="nav-item">
            <a href="{{ path('app_cart') }}" class="nav-link position-relative">
                Panier
                    <span id="cart-count" class="{% if cartItemCount==0 %}d-none {% endif %} position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">
                    <span id="cart-count-value">{{ cartItemCount }}</span>
                    </span>
            </a>
        </li>               
                    {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('app_account_myself') }}" class="nav-link">
                            <i class="fas fa-user"></i> Mon compte
                        </a>
                    </li>
                    {% endif %}
                    {% if not app.user %}
                        <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">S'inscrire</a></li>
                        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Se connecter</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a></li>
                    {% endif %}
                   
                   
                </ul>
            </div>
        </div>
    </header> 