{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{ product.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="/cms/images/{{ product.image.path }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p>Prix: {{ product.priceHT }}€</p>
            <a class="btn btn-primary add-to-cart" id="product-{{product.id}}">Ajouter au panier</a>

        </div>
    </div>
</div>
{% endblock %}
