{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="container my-4">
    <h2 class="mb-4">Nos Produits</h2>
    <div class="row">
        <div class="col-md-3">
        <form>
            <h3>Filtres</h3>
            <h5 class="filter-title">Catégories</h5>
            {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories[]" value="{{ category.id }}" id="filter-category-{{ category.id }}"
                        {{ category.id in selectedCategories ? 'checked' : '' }}>
                    <label class="form-check-label" for="filter-category-{{ category.id }}">
                        {{ category.name }}
                    </label>
                </div>
            {% endfor %}
            <h5 class="filter-title">Prix</h5>
                <div class="mb-3">
                    <label for="priceMin" class="form-label">Prix min</label>
                    <input type="number" class="form-control" id="priceMin" name="priceMin" value="{{ priceMin }}">
                </div>
                <div class="mb-3">
                    <label for="priceMax" class="form-label">Prix max</label>
                    <input type="number" class="form-control" id="priceMax" name="priceMax" value="{{ priceMax }}">
                </div>
            <button type="submit" class="btn btn-primary mt-3">Filtrer</button>
        </form>
        </div>

        <div class="col-md-9">
           {% for categoryData in groupedProducts %}
    <div class="category-section">
        <h3 class="mb-3">{{ categoryData.category.name }}</h3>
        <div class="row justify-content-center">
            {% for product in categoryData.products %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                    <div class="card h-100">
                        {# Début de la boucle pour trouver l'image associée au produit #}
                            <img src="/cms/images/{{ product.image.path }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Description</p>
                            <p class="card-text">Prix: {{ product.priceHT }}€</p>
                            <a href="{{ path('app_item_produits', {'id': product.id}) }}" class="btn btn-outline-primary">Voir le produit</a>
                             <a class="btn btn-primary add-to-cart" id="product-{{product.id}}">+</a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

            {% else %}
                <p>Aucun produit disponible</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
